<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @problem.statement %>
</p>

<p>
  <strong>docker_compose.yml:</strong>
  <pre><%= render_docker_compose_template(@problem.docker_compose, team: current_team.login_name) %></pre>
</p>

<p>Following commands are the example to submit your exploit</p>
<pre>
$ docker login <%= Rails.application.config.bullseye[:docker_registry_host] %>
> Username: <%= current_team.login_name %>
> Password: YOUR_TEAM_PASSWORD
$ docker build -t <%= Rails.application.config.bullseye[:docker_registry_host] %>/<%= current_team.login_name %>/<%= @problem.exploit_container_name %> DIRECTORY_OF_YOUR_EXPLOIT_DOCKERFILE
$ docker push <%= Rails.application.config.bullseye[:docker_registry_host] %>/<%= current_team.login_name %>/<%= @problem.problem_container_name %>
</pre>

<p>How to test your exploit</p>
<pre>
$ cat docker-compose.yml # It is the docker-compose.yml of this problem
version '3'
...
$ echo "CBCTF{TEST_FLAG}" > ./flag
$ echo "" > ./submitted-flag
$ docker-compose up -d
$ cat submitted-flag # CBCTF{TEST_FLAG} will be shown if your exploit succeeded
$ docker-compose down
</pre>

<p>
  <strong>Number of trials:</strong>
  <pre><%= @problem.ntrials %></pre>
</p>

<p>
  <strong>Calculation of score:</strong>
  <pre><%= @problem.calc_formula %></pre>
</p>

<p>
  <strong>Timeout (millsec):</strong>
  <pre><%= @problem.timeout %></pre>
</p>

<h2>Your image submit history</h2>

<table>
  <thead>
    <tr>
      <th>digest</th>
      <th>uploaded at</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.image_digest %></td>
        <td><%= image.uploaded_at %></td>
      </tr>
    <% end %>
  </tbody>
</ul>

<%= link_to 'Back', problems_path %>
