<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @problem.statement %>
</p>

<p>Run the following command to submit your exploit</p>
<pre>
$ docker login localhost:5000
> Username: your team email
> Password: your team password
$ docker push localhost:5000/<%= @problem.title %>
</pre>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
