<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @problem.statement %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
