<h2>Register Schedules</h2>

<%= form_for(@schedule, url: '/schedules/create_macro') do |f| %>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_field :problem_id %>
  </div>

  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.text_field :start_at %>
  </div>

  <div class="field">
    <%= f.label :finish_at %><br />
    <%= f.text_field :finish_at %>
  </div>

  <div class="field">
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </div>

  <div class="field">
    <%= f.label :runner_host %><br />
    <%= f.text_field :runner_host %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
