<h2>Register Schedules</h2>

<%= form_with(url: '/admin/schedules/create_macro') do |f| %>
  <div class="field">
    <%= f.label :teams %><br />
    <%= f.select :teams, options_from_collection_for_select(@teams, :id, :name),
        {include_hidden: false}, {multiple: true, size: 5} %>
  </div>

  <div class="field">
    <%= f.label :problems %><br />
    <%= f.select :problems, options_from_collection_for_select(@problems, :id, :title),
        {include_hidden: false}, {multiple: true, size: 5} %>
  </div>

  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.select :start_at, @start_times, {include_hidden: false}  %>
  </div>

  <div class="field">
    <%= f.label :stop_at %><br />
    <%= f.datetime_local_field :stop_at %>
  </div>

  <div class="field">
    <%= f.label :interval, "Interval (minutes)" %><br />
    <%= f.number_field :interval %>
  </div>

  <div class="field">
    <%= f.label :worker_hosts %><br />
    <%= f.text_field :worker_hosts, placeholder: "10.146.0.19:10080,10.146.0.19:10080" %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
