<% @problems.each_with_index do |problem, i| %>
  <% @teams.each_with_index do |team, j| %>
    <% info = @infos[i][j] %>
    <div>
      <p>problem: <%= problem.title %></p>
      <p>team: <%= team.login_name %></p>
      <% unless info.nil? then %>
        <p>container name: <%= info['name'] %></p>
        <% info['fsLayers'].each do |fsLayer| %>
          <p>fsLayer: <%= fsLayer['blobSum'] %></p>
        <% end %>
        <% history = JSON.parse(info['history'][0]['v1Compatibility']) %>
        <% unless history.nil? then %>
          <p>updated: <%= history['created'] %></p>
        <% end %>
        <p>raw: <%= info.to_json %></p>
      <% else %>
        <p>Nothing found.</p>
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
